* {
    margin: 0;
    padding: 0;
}
/* header section */
.header {
    height: 808px;
    width: 100%;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;

}

.header-container {

    /* height: 50%; */
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: rgb(189, 189, 240); */
}


.header-title {
    height: 200px;
    width: 494px;
    text-align: right;
    position: relative;
    left: 45px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    /* background-color: brown; */
}

.header-text p {
    height: 78px;
    width: 494px;
    text-align: right;
    position: relative;
    font-size: 20px;
    left: 45px;
    color: gray;
    margin-bottom: 20px;
}

.primary-key {
    background-color: #F15B22;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    color: white;
    float: right;

}
 
/* first section */
.first-section {
    width: 80%;
    height: 600px;
   
    display: flex;
    margin: 2% 10%;
    
    /* background-color: #F15B22; */
    justify-content: space-between;
}

.picture img{
    width: 400px;
    height: 500px;
}  
.picture{
    
        width: 600px;
        height: 500px;
        background: no-repeat;
        background-size: cover;
        /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2); */
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-direction: column;
    
}
.details{
    
    width: 350px;
    height: 200px;
    background: no-repeat;
    background-size: cover;
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2); */
    display: flex;
    padding: 150px;
    /* border: 5px solid black; */
    flex-direction: column;

}

.details>.details-title{
    width: 200px;
    height: 90px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    /* background-color: bisque; */
    
}
.details>.details-text{
    width: 400px;
    height: 100px;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 20px;
    
    /* background-color: rgb(219, 137, 37);
     */
}
.first-section ul li{
    list-style: none;
    font-size: 18px;
}
.first-section ul li:before{
    content: "\1F5F8";
    color:rgb(99, 192, 99);
    justify-content: space-between;
}
/* Second Section */
.s{
    
    width: 80%;
    height: 300px;
    margin: 2% 10%;
}
.second-section{
    display: flex;
    justify-content: space-between;
}
.second-title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.second-sec-pic{
    width: 200px;
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.second-sec-text{
    width: 200px;
    height: 10vh;
}
.second-sec-text>h3{
    padding-bottom: 5px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.second-sec-text p{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}
.third-sec{
    width: 80%;
    height: 40vh;
    background: linear-gradient(50deg,rgba(167, 86, 11, 0.7),rgba(236, 216, 165, 0.5)), url('images/watch.png');
   background-size: cover;
    margin-left: 10%;
   background-repeat: no-repeat;

}
.details-third{
    width: 459px;
    height: 182px;
    position: relative;
    top:20%;
    margin-left: 10%;
    

}
.third-text{
    width: 450px;
    position: relative;
    top:20%;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color:white;
    margin-bottom: 50px;
    
}
.details-third button{
     padding: 15px 20px;
      color: #F15B22;
      border-radius: 3px;
      border: none;
      font-size: 15px;
}
/* Footer Section */

.footer-sec{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    background-color: black;
    margin-top: 100px;

}
.details-footer{
    width: 485px;
    padding-top: 100px;
    
}
.details-footer h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: white;
    padding-bottom: 20px;

}
.details-footer p{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    color: white;
}
.details-footer a{
    text-decoration: none;
    color: white;
}
.form-sec{
    width: 400px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.form-sec h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}
.form-sec input{
    padding: 15px;
    width: 300px;
    border: 1px solid white;
    background-color: black;
    border-radius: 4px;
}
.footer-btn{
    margin-top: 20px;
}
.footer-btn button{
    padding: 15px 25px;
    color: #F15B22;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
.icons{
    display:flex;
    
}
.icon1,.icon2,.icon3{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    background-color: white;
}
.fa-facebook,.fa-twitter{
   
    color:rgb(39, 39, 218);
    /* padding-top: 6px,1px,2px,2px; */
    padding-top: 6px;
    padding-left: 5px;
    
}
.fa-youtube{
    
    color:rgb(236, 47, 47);
    /* padding-top: 6px,1px,2px,2px; */
    padding-top: 6px;
    padding-left: 6px;
    
    
}
